# Files and folders to keep out of the repo
#
# bmh Nov 2011

# We don't want anything build related
dist/
build/
setup.py
*.pyc

# No data in the repo
subi.db

# Ignore helper files
.DS_store
*.swp

